.places__title {
  font-size: 72px;
  padding-bottom: 40px;
  margin: 0;
  font-weight: 900;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
}

@media screen and (max-width: 1024px){
  .places__title {
    line-height: 76px;
  }
}

@media screen and (max-width: 768px){
  .places__title {
    line-height: 46px;
  }
}

@media screen and (max-width: 320px){
  .places__title {
    font-size: 32px;
    padding-bottom: 32px;
    width: 304px;
    margin-left: 16px;
  }
}