.places__title {
  font-size: 72px;
  padding-bottom: 40px;
  margin: 0;
}

@media screen and (max-width: 320px){
  .places__title {
    font-size: 32px;
    padding-bottom: 32px;
    width: 304px;
    margin-left: 16px;
  }
}