.cover__title {
  text-decoration: none;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  margin-bottom: 32px;
  font-weight: 900;
}

@media screen and (max-width: 768px){
  .cover__title {
    font-size: 72px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 320px){
  .cover__title {
    font-size: 32px;
    line-height: 16px;
    margin: 51px 16px 16px 16px;
  }
}