.places__url-heading {
    text-transform: uppercase;
    line-height: 0.2em;
    letter-spacing: 0.2em;
    color: #aaaaaa;
}

@media screen and (min-width: 768px) {
    .places__url-heading {
        font-size: 12px;
        line-height: 12px;
    }
}
