.cover__item {
    min-height: 740px;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    color: white;
    background-image: url(../../../images/__background.png);
}

@media screen and (max-width: 1024px){
  .cover__item {
    min-height: 640px;
    background-size: cover;
    background-position: 50% 50%;
  }
}

@media screen and (max-width: 768px){
  .cover__item {
    min-height: 480px;
    background-size: cover;
    background-position: 50% 50%;
  }
}
@media screen and (max-width: 320px){
    .cover__item {
      min-height: 200px;
      background-size: cover;
      background-position: 50% 50%;
    }
  }